{% load i18n %}
{% load votainteligente_extras %}
{% if candidate.birth_date %}
<tr>
    <td>
        <span class="profile-candidate-font">{% trans 'Nacimiento' %}:</span><span class="personal-data-font"> {{candidate.birth_date}}</span>
    </td>
</tr>
{% endif %}
{% for personal_data in candidate.personal_datas.all %}
<tr>
    <td>
        <span class="profile-candidate-font">{{personal_data.label}}</span><span class="personal-data-font"> {{personal_data.value}}</span>
    </td>
</tr>
{% endfor %}
{% for membership in candidate.memberships.all %}
<tr>
    <td>
        <span>{{membership.organization.name}}:</span> {{membership.label}} 
        {% if membership.start_date %}
            ({{membership.start_date}} - {{membership.end_date}})
        {% endif %}
    </td>
</tr>
{% endfor %}